# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=your_database_link


NODE_ENV= "development"
PORT = 3000
JWT_ACCESS_SECRET = "ksljdfZSDfjsdfsdfsd5f646sdfg4sdf65n okdf gn kfngokfgdfgh654dfdyh64"
JWT_REFRESH_SECRET = "ASLKGHsdgjhkasdhasdv hasuivfrege54sdfbsdeefkejr78w345welkrtub jlkf"
JWT_ACCESS_EXPAIRE_IN = "10d"
JWT_REFRESH_EXPAIRE_IN = "30d"
RESET_PASSWORD_TOKEN="sdfgdfghjikkksdbucdyhawbli.uoiuwous.euwcewe54634df5g6346b
014604b2"
RESET_PASSWORD_TOKEN_EXPAIRE_IN="5m"
RESET_PASSWORD_FRONT_END_LINK="http://localhost:3000/reset-password"
NODEMAILER_EMAIL = your_mail
NODEMAILER_APP_PASSWORD = your_node_malier_app_password